name: Release

on:
  push:
    tags: ['v*']

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Build
        uses: actions/checkout@v3
        with:
          node-version:  ${{matrix.node-version}}
      - run: | 
          mkdir release
          mv module.json release/
          npm ci
          npm run build:es
          mv scripts/ release/
      - name: Zip
        uses: vimtor/action-zip@v1
        with:
          files: release/ 
          recursive: false
          dest: module.zip
      - uses: actions/upload-artifact@v1
        with:
          name: garbage
          path: ${{ github.workspace }}/module.zip
          # args: zip -qq -r module.zip release/*
      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            release/module.json
            module.zip